@import url('../fonts/font-awesome/css/font-awesome.css');
@import "../fonts/glyphicons-pro/glyphicons-pro.css";
@import "../fonts/styles.css";
@import "../fonts/open-sans-fontfacekit/opensans_regular_macroman/stylesheet.css";
@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.ttf');
}

body{
    font-family: "open_sansregular";
}

.top{
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
}
.btn{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.inner-font{
    color: #000;
}
.icon-3x{
    font-size: 2em;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 100px;
}
.menu-togel{
    position: fixed;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    /*background: #C5AE89;*/
    background: #ffeb83;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 12px;
}

#sidebar-wrapper ul{
    list-style-type: none;
}

div#sidebar-wrapper ul.sidebar-nav li ul#laporan_drop, div#sidebar-wrapper ul.sidebar-nav li ul#setting-drop{
    margin-left: -50px;
    background: #d9c773;
}



#wrapper.toggled #sidebar-wrapper {
    width: 115px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    /*padding: 50% 0 0 0 !important;*/
    list-style: none;
    padding: 0;

}
.sidebar-nav li {
    /*text-indent: 20px;*/
    line-height: 20px;
}
.sidebar-nav li a p{
    font-weight: bold;
    text-shadow: 2px 2px 4px #95a5a6;
}
.sidebar-nav li.active a p{
    color: #fff;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #6D675F;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    text-align: center;
    padding:5px 10px;
    border-left:5px solid;
    border-color: rgba(255,80,63,0);
}
.sidebar-nav li.active a{
    color: #FF503F;
}

.sidebar-nav li.active a span{
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #88827b;
    /*background: rgba(255,255,255,0.2);*/
    /*background: #87794e;*/
    border-left:5px solid;
    border-color: #FF503F;

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav li.active{
    border-left:5px solid;
    border-color: #FF503F;
    color: #FF503F;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*NAVBAR CONFIGURATION*/

.navbar{
    padding: 10px;
    background-color: #C5AE89;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*NAVBAR RIGHT CONFIGURATION*/

.profile img{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    /*border: 0.01em solid #fff;*/
    -webkit-box-shadow: 2px 2px 15px #000;
    -moz-box-shadow: 2px 2px 15px #000;
    box-shadow: 2px 2px 15px #000;
}
ul.nav.pull-right li{
    display: inline-block;
}

ul.nav.pull-right li.logout a{
    color: #e74c3c;

}

ul.nav.pull-right li a span{
    color: #000000;
    /*font-weight: bold;*/
    font-size: 1.25em;
}
ul.nav.pull-right li a:hover{
    background: #947863;
}

div.navbar ul.nav.pull-right ul.dropdown-menu li a:hover{
    background: #fff;
}

div.navbar ul.nav.pull-right li.profile a:focus{
    background: #947863;
}
.dropdown-menu{
    min-width: 0;
}
.inner-wrapper{
    margin-left:60px;
    height: auto;
    width: auto;
}
/*.inner-wrapper hr{*/
    /*width: 800px;*/
    /*text-align: left;*/
    /*border-color: #947863;*/
    /*float: left;*/
/*}*/

.cal-hr{
    width: 200px;
    text-align: left;
    border:2px solid #947863;
    float: left;
    margin-top: 0;
}
.loginmodal-container {
    padding: 20px;
    max-width: 35%;
    width: 100%;
    max-height: 48%;
    background-color: rgba(247,247,247,0.75);
    margin-top: 2%;
    margin-left: 33%;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: lato;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: lato;
}

.loginmodal-container input[type=submit] {
    width: 90px;
    height: 44px;
    bottom: 88px;
    display: block;
    margin-bottom: 20px;
    margin-left: 71%;
    position: relative;
    background-color:#C5AE89;
    font-family: lato;

}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 60%;
    margin-bottom: 20px;
    margin-right: 250px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

#loginmodal {
    text-align: left;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;

    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: lato;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

.login-background{
    background-image: url("../img/chocolate.jpg");
    min-height: 100%;
    position: absolute;
    height: 100%;
    min-width: 100%;
    width: 100%;

}

/*HOME CONTROL*/
[class^="btn-h"],[class*="btn-h"]{
    padding: 30px 40px 30px 30px;
    width: 100%;
    color:#000;
}
.btn-h1{
    background: #D1B38C;

}
.btn-h2{
    background: #64D288;
}
.btn-h3{
    background: #39B4BF;
}
.btn-h4{
    background: #FFE566;
}
.btn-h5{
    background: #E54E67;
}

.btn-h1:hover{
    background: #ffdbab;
    -webkit-box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
}
.btn-h2:hover{
    background: #79ffa6;
    -webkit-box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
}
.btn-h3:hover{
    background: #46dfed;
    -webkit-box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
}
.btn-h4:hover{
    background: #ffeb83;
    -webkit-box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
}
.btn-h5:hover{
    background: #ff838e;
    -webkit-box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
}

.btn-h1 img,.btn-h2 img,.btn-h3 img,.btn-h4 img,.btn-h5 img{
    width: 80px;
    height: 80px;
}

.inner-font{
    font-size: 1em;
    /*color: #fff;*/
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    /*text-shadow: 1px 1px 1px #000;*/
    margin-left: 10px;
    font-weight: 700;
}
.yeah{

}

.absolute-dropdown{
    position: absolute;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100px;
        /*font-size: 3em;*/
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    div#page-content-wrapper div.navbar img.logo{
        height: 68px;
        width: 238px;
    }
}

@media screen and (max-width: 768px){
    ul.nav.pull-right li.profile a span{
        display: none;
    }
    ul.nav.pull-right{
        margin-right: -25px;
    }
    div#page-content-wrapper div.navbar img.logo{
        height: 50px;
        width: 220px;
    }
}

.mastej-logo{
    margin-left: 12%;
}